<div id="me">
    <p>
        <img src="http://www.gravatar.com/avatar/3988a733c5531ab0e1b6c64fcba16fc1.png?s=100" alt="Katsuyuki Ohmuro" />
        I'm <b>Katsuyuki Ohmuro</b>. I'm a software developer living in Nagoya, Japan, and I also enjoy talking and teaching.
        My interests include ASP.NET, Node.js, Knockout, and web development in general.  I love any technologies that
        make the Internet a better place to develop for.
    </p>
    <p>
        <a href="http://twitter.com/katsuyukiohmuro">@katsuyukiohmuro</a> &#8226;
        <a href="https://github.com/harmony7">GitHub</a> &#8226;
        <a href="mailto:harmony7@pex2.jp">Email Me</a>
    </p>
</div>
